 .site-header {
 	position: absolute;
 	top: 0;
 	right: 0;
 	bottom: 0;
 	left: 0;
 	margin: auto;
 	z-index: 199;
 	color: $text-color;
 	&__nav {
 		ul {
 			height: 45px;
 			display: flex;
 			align-items: center;
 			justify-content: center;
 			color: $text-color;
 		}
 		li {
 			display: inline-block;
 			text-transform: uppercase;
 			font-size: 11px;
 			font-weight: bold;
 			margin: 0 40px;
 		}
 	}
 	&-inner {
 		position: relative;
 		display: flex;
 		justify-content: space-between;
 		align-items: center;
 		min-height: 93px;
 		max-width: 1140px;
 		margin: auto;

 		&::after {
 			content: "";
 			display: block;
 			position: absolute;
 			height: 1px;
 			background-color: $bg-color;
 			top: 86px;
 			width: 100%;
 		}
 		
 	}
 }
 .header-menu-right li {
 	display: inline-block;
 	padding: 13px;
 }
 .header-menu-left li {
 	display: inline-block;
 	padding: 13px;
 }


