$bg-color: rgba(0, 0, 0, 0.2);
$text-color: rgb(22, 25, 24);

*{
	box-sizing: border-box;
}
body{
	font-family: "Montserrat", sans-serif;
	margin: 0;
	padding: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
h2 {
  font-size: 56px;
  color: $text-color;
  line-height: 1.143;
}
p {
  font-size: 13px;
  font-family: "Montserrat";
  color: $text-color;
  line-height: 1.538;
}


